/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* QWERTY
 * .----------------------------------------------------------------------------------------------------------------------.
 * |  `   |   1  |   2  |   3  |   4  |   5  |  [   |                    |  ]   |   6  |   7  |   8  |   9  |   0  | PScr |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * | ESC  |   Q  |   W  |   E  |   R  |   T  |  -   |                    |  =   |   Y  |   U  |   I  |   O  |   P  |  \   |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * | Tab  |   A  |   S  |   D  |   F  |   G  | Del  |                    | Bksp |   H  |   J  |   K  |   L  |   ;  |  '   |
 * |------+------+------+------+------+------+---------------------------+------+------+------+------+------+------+------|
 * | Shift|   Z  |   X  |   C  |   V  |   B  | End  |                    | Home |   N  |   M  |   ,  |   .  |   /  | Shift|
 * |-------------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------------|
 * | Ctrl |      | PGDN | Win  |||||||| Alt  | Space| Lower|||||||| Raise| Enter| RAlt ||||||||      | PGUP | Ins  | RCtrl|
 * .----------------------------------------------------------------------------------------------------------------------.
 */

            bindings = <
&kp ESC    &kp N1     &kp N2        &kp N3  &kp N4         &kp N5  &kp NUMBER_6                        &to 0      &kp N6  &kp N7         &kp N8     &kp N9    &kp N0     &kp MINUS
&kp GRAVE  &kp Q      &kp W         &kp E   &kp R          &kp T   &kp PERIOD                          &to 1      &kp Y   &kp U          &kp I      &kp O     &kp P      &kp BSLH
&kp CAPS   &kp A      &kp S         &kp D   &kp F          &kp G   &kp DEL                             &to 2      &kp H   &kp J          &kp K      &kp L     &kp SEMI   &kp SQT
&kp LSHFT  &kp Z      &kp X         &kp C   &kp V          &kp B                 &kp ENTER  &kp B                 &kp N   &kp M          &kp COMMA  &kp DOT   &kp SLASH  &kp RSHFT
&kp LCTRL  &kp LMETA  &kp LEFT_ALT  &sl 1   &kp BACKSPACE          &kp SPACE     &mo LOWER  &mo RAISE  &kp SPACE          &kp BACKSPACE  &kp RALT   &kp LEFT  &kp DOWN   &kp RIGHT
            >;
        };

        lower_layer {
            /* .----------------------------------------------------------------------------------------------------------------------.
 * |  F11 |  F1  |  F2  |  F3  |  F4  |  F5  |      |                    |      |  F6  |  F7  |  F8  |  F9  |  F10 |  F12 |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+---------------------------+------+------+------+------+------+------+------|
 * | Shift| Boot | Reset|      |      |      |      |                    |      |      |      |      |      |      | Shift|
 * |-------------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------------|
 * | Ctlr |      |      |  Win |||||||| Alt  |      | Lower|||||||| Raise|      | RAlt ||||||||      |      |      | RCtrl|
 * .----------------------------------------------------------------------------------------------------------------------.
 */ /* FIXME boot and reset are not yet locale aware */
            bindings = <
&kp TAB       &kp F1        &kp F2            &kp F3             &kp F4  &kp F5  &kp F6                  &to 0  &kp F6  &kp F7  &kp F8  &kp F9    &kp F10       &kp F12
&kp N7        &kp N8        &kp N9            &kp I              &kp U   &kp Y   &none                   &to 1  &none   &none   &none   &none     &none         &kp EQUAL
&kp NUMBER_4  &kp N5        &kp NUMBER_6      &none              &none   &none   &none                   &to 2  &none   &none   &none   &none     &none         &kp NON_US_BACKSLASH
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3      &none              &none   &none           &none   &none          &none   &none   &none   &none     &kp UP_ARROW  &trans
&kp N0        &kp PERIOD    &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans          &none   &trans  &trans  &none          &trans  &none   &kp LEFT  &kp DOWN      &kp RIGHT_ARROW
            >;
        };

        raise_layer {
            /* .----------------------------------------------------------------------------------------------------------------------.
 * |      | BT 0 | BT 1 | BT 2 | BT 3 |      | BTCL |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+---------------------------+------+------+------+------+------+------+------|
 * | Shift|      |      |      |      |      |      |                    |      |      |      |      | Boot | Reset| Shift|
 * |-------------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------------|
 * | Ctlr |      |      |  Win |||||||| Alt  |      | Lower|||||||| Raise|      | RAlt ||||||||      |      |      | RCtrl|
 * .----------------------------------------------------------------------------------------------------------------------.
 */ /* FIXME boot and reset are not yet locale aware */
            bindings = <
&none   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &none  &bt BT_CLR                  &none  &none  &none   &none  &none        &none       &none
&none   &none         &none         &none         &none         &none  &none                       &none  &none  &none   &none  &none        &none       &none
&none   &none         &none         &none         &none         &none  &none                       &none  &none  &none   &none  &none        &none       &none
&trans  &none         &none         &none         &none         &none              &none   &none          &none  &none   &none  &bootloader  &sys_reset  &trans
&trans  &none         &none         &trans        &trans               &none       &trans  &trans  &none         &trans  &none  &none        &none       &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
